#!/bin/bash
### andy.dustin@gmail.com [rev:9be3ab6]

## Aliases
alias docker='sudo docker'
alias pacman='sudo pacman'
alias rpi='ssh `cat ~/docs/myip.txt`'
alias systemctl='systemctl --no-pager'

## Functions
passgen() {
  for i in {1..3}; do 
    echo $(openssl rand -rand /dev/urandom -base64 15 2>/dev/null | head -c10) 
  done
}

vermp() {
  echo $(printf "%x\n" $(date +%y%j%H%M))
}
