#!/bin/bash
### andy.dustin@gmail.com [rev:9be5e01]

## Aliases
alias docker='sudo docker'
alias pacman='sudo pacman'
alias rpi='ssh `cat ~/docs/myip.txt`'
alias systemctl='systemctl --no-pager'

## Functions
passgen() {
  for i in {1..6}; do 
    echo $(openssl rand -rand /dev/urandom -base64 28 2>/dev/null | sed -e 's|[+/]||g' | head -c12) | egrep -v '^[0-9]'
  done | head -3
}

vermp() {
  echo $(printf "%x\n" $(date +%y%j%H%M))
}
